<a href="https://colab.research.google.com/github/UDAVALAPATISURESH/python_SRS/blob/main/Copy_of_Intro_Aaapu_Dhummu_Lepu.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=10;
b=5;
print(a+b)

15

In [ ]:
#how to find python version?

In [ ]:
print("hi")

hi

In [ ]:
import sys #library
print("python version")
print(sys.version) #methods

python version
3.10.12 (main, Nov 20 2023, 15:14:05) [GCC 11.4.0]

In [ ]:
# variables are containers for storing data values.

In [ ]:
a=2
b="dileep"[ ]
a=10;
b=5;
print(a+b)
output
15
[ ]
#how to find python version?
[ ]
print("hi")
output
hi
[ ]
import sys #library
print("python version")
print(sys.version) #methods
output
python version
3.10.12 (main, Jun 11 2023, 05:26:28) [GCC 11.4.0]
[ ]
# variables are containers for storing data values.
[ ]

print(type(a))
print(type(b))

<class 'int'>
<class 'str'>

In [ ]:
a="5"
print(type(a))

<class 'str'>

In [ ]:
# type casting
a=6
b=str(6)
print(b)
print(type(b))

6
<class 'str'>

In [ ]:
a=20
b=float(a)
print(b)
print(type(b))

20.0
<class 'float'>

In [ ]:
# operators are used to perform operations on variables and values.
print(10%7)

3

In [ ]:
#arithmetic operators
# +
# -
# %
# **

In [ ]:
# comparision operators
# == equal
# != not eql
# >
# <

In [ ]:
# assignment operators
# =  x=5
# += x+=4
# -= x-=5

In [ ]:
# area of circle
pi=3.14
r=float(input("enter radius value: "))
A=pi * r**2
print(A)

enter radius value: 10
314.0

In [ ]:
a="Python is basic and Python is easy and Python is not dynamic"
print(a.count("Python"))

3

In [ ]:
# data structures in python
# storage that used to store and organize data
# lists
# tuple
# sets
# dictionaries

In [ ]:
# list is an ordered collection of items enclosed with square barckets ([]).
# allow to store and manipulate values of different data types in a single variable.
list = ["dileep","kumar","reddy"]

In [ ]:
list[0]

'dileep'

In [ ]:
l=["hi","hello"]
l.append("gm")
print(l)

['hi', 'hello', 'gm']

In [ ]:
l=["hi","hello"]
l[0]="buddy"
print(l)

['buddy', 'hello']

In [ ]:
l.insert(2,"whats up")

In [ ]:
print(l)

['buddy', 'hello', 'whats up']

In [ ]:
#adding elements
# The append() adds in end of list
# The insert() at specific position like(position,"item")

In [ ]:
a=["ktm","bajaj","tvs","harley davidson"]
a.remove("tvs")
print(a)

['ktm', 'bajaj', 'harley davidson']

In [ ]:
a.pop(2)
print(a)

['ktm', 'bajaj']

In [ ]:
# removing elements
# remove() method removes an item
# pop() method removes an element at specific index and returns its value

In [ ]:
# list slicing
# It allows you to create a new list that contains a subset of elements from the original list
# You can specify starting index,ending index and a step value for slicing

In [ ]:
a=[10,20,30,40,50,60]
b=a[1:4]
print(b)

[20, 30, 40]

In [ ]:
c=a[1:5:2]
print(c)

[20, 40]

In [ ]:
# List operations
# concatination (+)
# Repetition (*)
# Length of list (len())

In [ ]:
a=[22,33,21,56,38,78]
b=[78,77,79,44,62,22]
c= a+b
print(c)
print(a*3)

[22, 33, 21, 56, 38, 78, 78, 77, 79, 44, 62, 22]
[22, 33, 21, 56, 38, 78, 22, 33, 21, 56, 38, 78, 22, 33, 21, 56, 38, 78]

In [ ]:
print(len(a))
print(len(b))
print(len(c))

6
6
12

In [ ]:
# list methods
d=[44,34,67,22,45,99]
d.sort()
print(d)
d.reverse()
print(d)
print(d.count(22))
c=d.index(67)
print(c)

[22, 34, 44, 45, 67, 99]
[99, 67, 45, 44, 34, 22]
1
1

In [ ]:
# Dictionary
# It is an unordered collection of key-value pairs.

In [ ]:
a={'name':'dileep','age':21,'grade':'A+'}

In [ ]:
a.keys()

dict_keys(['name', 'age', 'grade'])

In [ ]:
a.values()

dict_values(['dileep', 21, 'A+'])

In [ ]:
print(a['name'])

dileep

In [ ]:
print(a['grade'])

A+

In [ ]:
a['name']='kumar'

In [ ]:
print(a)

{'name': 'kumar', 'age': 21, 'grade': 'A+'}

In [ ]:
a['depart']='Ece'
print(a)

{'name': 'kumar', 'age': 21, 'grade': 'A+', 'depart': 'Ece'}

In [ ]:
# Dictionary methods

In [ ]:
print(a.keys())

dict_keys(['name', 'age', 'grade', 'depart'])

In [ ]:
print(a.values())

dict_values(['kumar', 21, 'A+', 'Ece'])

In [ ]:
b=a.items()
print(b)

dict_items([('name', 'kumar'), ('age', 21), ('grade', 'A+'), ('depart', 'Ece')])

In [ ]:
for i in a:
  print('key is: ' ,i)
  print(a[i])

key is:  name
kumar
key is:  age
21
key is:  grade
A+
key is:  depart
Ece

In [ ]:
# Tuple
# It is an ordered collection of elements enclosed in paranthesis().
# Tuples are Immutable.

In [ ]:
d=("dileep","kumar",6,21,"reddy")
print(d[2])

6

In [ ]:
d[2]=7
print(d)

TypeError: ignored

In [ ]:
# Tuple packing and unpacking
# Tuple can be written without paranthesis
a=20,100
print(type(a))0
x,y=a
print(x)
print(y)

<class 'tuple'>
20
100

In [ ]:
# Tuples as Dictionary keys:

# Tuples can be used as keys in dictionaries are immutable.
# this can be useful when u need to use multiple values as composite key.

student_grade={('john','dileep'):74,('kumar','reddy'):88}
print(student_grade.keys())

dict_keys([('john', 'dileep'), ('kumar', 'reddy')])

In [ ]:
# Set

# It is an unordered collection of unique elements.
# It will remove duplicates and performing mathematical operations.

fruits={'apple','mango','apple','grapes'}
print(fruits)

{'mango', 'apple', 'grapes'}

In [ ]:
# Set operations
# It has Union,Intersection,Difference.

s1={33,23,44,78,66}
s2={48,57,98,78,23}
print((s1).union(s2))
print((s1).intersection(s2))
print((s1).difference(s2))
print((s2).difference(s1))

{33, 66, 98, 44, 78, 48, 23, 57}
{78, 23}
{33, 66, 44}
{48, 57, 98}

In [ ]:
# Set methods
# Add()
# Remove()
# Pop()
# Clear()
# Len()

a={22,13,22,55,22}
a.add(68)
print(a)
a.remove(22)
print(a)
a.pop()
print(a)
b=len(a)
print(b)
b=a.clear()
print(b)

{68, 13, 22, 55}
{68, 13, 55}
{13, 55}
2
None

In [ ]:
a={22,33,45,23}
print(13 in a)
print(22 in a)

False
True

In [ ]:
# Real time examples
# checking unique email adress: Set can be used to check for unique email adress in a list or database.

email=['dileepkumarreddyjogi@gmail.com','dileepjogi66@gmail.com','dileepkumarreddyjogi@gmail.com']
print(set(email))

{'dileepkumarreddyjogi@gmail.com', 'dileepjogi66@gmail.com'}

In [ ]:
# conditional Statements

#If allows you to control the flow of program based on certain conditions.
#It executes if given condition is true.

# If condition:
#   program

In [ ]:
num =int(input("enter an n.o: "))
if num>0:
  print("it is a positive n.o: ",num)
elif num==0:
  print("it is neither positive nor negative: ",num)
else:
  print("it is negative n.o: ",num)

enter an n.o: 0
it is neither positive nor negative:  0

In [ ]:
# For loop

# It is used to iterate over a sequence of elements such as list,tuple,string,or other iterable objects.
# It allows you to perform a certain set of actions repeatedly for each element in the sequence.

In [ ]:
a=[22,45,67,88]
for i in a:
  print(i)

22
45
67
88

In [ ]:
for i in range(1,10):
  if i%2==0:
    print(i,": It is even n.o")
  else:
    print(i,": it is odd n.o")

1 : it is odd n.o
2 : It is even n.o
3 : it is odd n.o
4 : It is even n.o
5 : it is odd n.o
6 : It is even n.o
7 : it is odd n.o
8 : It is even n.o
9 : it is odd n.o

In [ ]:
fruits=["apple","banana","kiwi","custard apple"]
for i in fruits:
  print(i)

apple
banana
kiwi
custard apple

In [ ]:
numbers=[1,2,3,4,5]
sum=0
for i in numbers:
  sum=sum+i
print("sum is: ",sum)

sum is:  15

In [ ]:
# While loop
# It is used to execute a set of statements as long as a given conditions is true.
# It allows you to repeat a block of code until the condition become false

In [ ]:
i=1
while i<10:
  print(i)
  i+=1

1
2
3
4
5
6
7
8
9

In [ ]:
# calculate sum from 1 to 10 using while loop

i=1
sum=0
while i<=10:
  sum=sum+i
  i+=1
print(sum)

55

In [ ]:
# Break

# Used to exit a loop prematurely,reagardless of whether the loop condition is still true.

In [ ]:
num=[1,3,5,7,6,9,10]
for i in num:
  if i%2==0:
    print("first even n.o is : ",i)
    break;

first even n.o is :  6

In [ ]:
# continue

# The continue statement is used to skip the rest of current iterate and move to nxt iteration loop.

In [ ]:
a=["moon","moon","star","moon","star","moon"]
for i in a:
  if i=="star":
    continue
print(i)

moon

In [ ]:
num=[1,2,3,4,5,6,7,8,9,10]
for i in num:
  if i%2==0:
    continue
  print(i)

1
3
5
7
9

In [ ]:
# range

# range() is used to generate a sequence of numbers that can used in loops.
# It can take upto three arguments: start, stop, and step.

In [ ]:
for i in range(1,10,2):
  print(i)

1
3
5
7
9

In [ ]:
for i in range(5,11):
  print(i)

5
6
7
8
9
10

In [ ]:
# Assert


# It is used to check if a condition is true.If the condition is false,it raises an assertion error exception,
# Indicating that something unexpected or incorrect has occured.

In [ ]:
num=-2
assert num>0, "the n.o should be positive"
print(num)

AssertionError: ignored

In [ ]:
a=[1,2,3,4,5]
b=[1,2,3,4,5]
if a==b:
  print("both list are equal")
else:
  print("not equal")

both list are equal

In [ ]:
a=[1,2,3,4,5]
b=[1,2,3,5,4]
b.sort()
if a==b:
  print("both lists are equal")
else:
  print("not equal")

both lists are equal

In [ ]:
num=[4,2,9,7,5]
c=max(num)
print(c)

9

In [ ]:
num=[4,2,10,7,5,12]
max=num[0]
for i in num:
  if i>max:
    max=i
    print("maximum n.o is: ",max)

maximum n.o is:  10
maximum n.o is:  12

In [ ]:
# Function

# It is a reusable block of code that performs a specific task.
# It allows you to breakdown your code into smaller,easier to understand.*

In [ ]:
def greet(name):
  print("hi morning",name)
greet("dileep")

hi morning dileep

In [ ]:
def mul(a,b):
  print("the multiplied value is:",a*b )
mul(2,3)

the multiplied value is: 6

In [ ]:
def greet(name):
  print("hello",name,"welcome")
greet("dileep")

hello dileep welcome

In [ ]:
def mul(a,b):
  res=a*b
  return res
res=mul(3,4)
print(res)

12

In [ ]:
def movies(m1,m2,m3,m4):
  print("movies are:",[m1,m2,m3,m4])
movies("leo","bhagavath kesari","tigernageswarrao","gunturkaaram")

movies are: ['leo', 'bhagavath kesari', 'tigernageswarrao', 'gunturkaaram']

In [ ]:
def add(a,b):
  print("addition of n.o's  are:",a+b)
add(4,5)

addition of n.o's  are: 9

In [ ]:
def bikes(cmpy):
  print("bikes are: ",cmpy)
a=["ktm","bajaj","tvs","bmw"]
bikes(a)

bikes are:  ['ktm', 'bajaj', 'tvs', 'bmw']

In [ ]:
# Positional Arguments

def car(name,model):
  print(name,"model is:",model)
car("mahindra","xuv700")

mahindra model is: xuv700

In [ ]:
# Keyword Arguments

def bike(name,model):
  print(name,"model is: ",model)
bike(model="duke200",name="ktm")

ktm model is:  duke200

In [ ]:
# Default Arguments

def mobile(name,model="15promax"):
  print(name,"model is:",model)
mobile("iphone")

iphone model is: 15promax

In [ ]:
# Optional Arguments

def calendar(year,month,date=''):
  print(year,'/',month,'/',date)
calendar(17,10,2023)

17 / 10 / 2023

In [ ]:
# Arbitary Arguments

def mobiles(*list):
  print(list)
mobiles("15promax","s24 ultra","iqoo12","oneplus12R","foldablephn")

('15promax', 's24 ultra', 'iqoo12', 'oneplus12R', 'foldablephn')

In [ ]:
# Nested functions

def f1():
  a="dileep"
  def f2():
    print(a)
  f2()
f1()

dileep

In [ ]:
# A certain print Order costs 3.00per copy for order of less than ten copies,$1.25 for orders of 10-99 copies,and $0.90 per copy for orders of 100 copies or more.
# Write a code that return a total price for the order
a=int(input("enter n.o of copies: "))
if a<10:
  print("the total cost is:",a*3.00)
elif a<100:
  print("the total cost is:",a*1.25)
else:
  print("the total cost is:",a*0.90)

enter n.o of copies: 10000000000000000
the total cost is: 9000000000000000.0

In [ ]:
def add(a,b):
  print("the addition value is: ",a+b)
def sub(a,b):
  print("the subtraction value is: ",a-b)
def mul(a,b):
  print("the multiplied value is :",a*b)
def div(a,b):
  print("the divided value is: ",a/b)
add(2,3)
mul(4,8)
sub(9,3)
div(6,3)

the addition value is:  5
the multiplied value is : 32
the subtraction value is:  6
the divided value is:  2.0

In [ ]:
# Operators
# These are symbols or special characters that perform various operations on values or variables.
# Used to perform arithmetic calculations,comapare values.
# diff types are

# Arithmetic Operators

# Addition
# subtraction
# multiplication
# Div : /
# Floor div ://
# Modulus : %
# Exponentation :**

In [ ]:
# Assignment Operators

# assig :=
# Add assig :+=
# Sub assig :-=
# Mul assig :*=
# div assig :/=
# Modulo assig :%=

In [ ]:
# Comparision Operators

# Equal to :==
# Not equal :!=
# Greater than :>
# Less than :<
# greater than or equal to :>=
# Less Than or Equal to :<=

# Data type of  output will be Boolean

In [ ]:
# Logical Operators

# Logical And :And
# Logical or :OR
# Logical not :NOT

In [ ]:
# Membership Operators

# In : evaluates values present
# Not In : Evaluates values is not present

In [ ]:
# Identity Operators

# Is : Evaluates if two variables refer to same object.
# Is Not : Evaluates if two variables to diff objects.

In [ ]:
# Unary Opeartors

# Unary Plus: +
# Unary Minus :-

In [ ]:
# Exception handling

# Exception handling in python allows you to handle and manage runtime errorsand exceptional situations that may occur during execution of code.

try:
  #code that may raise exception
except exception type:
  #code to handle exception

In [ ]:
try:
  numerator=int(input("enter n.o: "))
  denominator=int(input("enter n.o: "))
  result=numerator/denominator
except ZeroDivisionError:
  print("enter other than zero")
except ValueError:
  print("enter only integers")
else:
  print(result)
finally:
  print("code executed successfully")
print(type(result))

enter n.o: 8
enter n.o: 4
2.0
code executed successfully
<class 'float'>

In [ ]:
try:
  a=1
  b="dileep"
  c=a+b
  print(c)
except TypeError:
  print("select same datatypes to concate")

select same datatypes to concate

In [ ]:
a=input("enter username: ")
b=int(input("enter age: "))
print("hi welcome",a,"of age",b)

enter username: dileep
enter age: 21
hi welcome dileep of age 21

In [ ]:
l=[1,2,3,4,2,3,4,7]
a=set(l)
c=list(a)
print(c)

[1, 2, 3, 4, 7]

In [ ]:
l=[1,2,3,4,2,3,4,7]
d=list(set(l))
print(d)

[1, 2, 3, 4, 7]

In [ ]:
a=[1,2,3,4,2,3,4,7]
b=[1,2,4,7,9,10,12,19]
c=list(set(a) & set(b))
print(c)

[1, 2, 4, 7]

In [ ]:
a=[1,2,3,4,3,7]
b=[1,2,4,7,9,10,12,19]
c=[]
for i in a:
  if i in b:
    c.append(i)
print(c)

[1, 2, 4, 7]

In [ ]:
a=[1,2,3,4,2,3,4,7]
b=[1,2,4,7,9,10,12,19]
c=list(set(a).intersection(set(b)))
print(c)

[1, 2, 4, 7]

In [ ]:
a=int(input("enter n.o: "))
if a%5==0 and a%10==0:
  print("the n.o is divisible by 5 and 10")
else:p,
  print("not divisible")

enter n.o: 30
the n.o is divisible by 5 and 10

In [ ]:
b= "besant technology"
count = 0
vowels = ["a", "e", "i", "o", "u"]

for i in range(len(b)):
    if b[i] in vowels:
        count += 1
print(count)

5

In [ ]:
b= "besant technology"
b.split()
count=0
vowels = ["a", "e", "i", "o", "u"]
for i in b:
  if i in vowels:
    count+=1
print(count)

6

In [ ]:
rows=10
for i in range(1,rows+1):
  for j in range(rows-i):
    print("*",end=" ")
  print('')

* * * * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
sum=0
for i in range(1,11):
  if i%2==0 or i%2!=0:
    sum=sum+i
print(sum)

55

In [ ]:
l=[10,20,12,13,25,50,75,35,100]
for i in l:
  if i%5==0:
    print(i)

10
20
25
50
75
35
100

In [ ]:
a=[[10,7,15],[25,14,30],[42,50,11]]
b=[]
for i in a:
  for j in i:
    if j%5==0:
      b.append(j)
print(b)

[10, 15, 25, 30, 50]

In [ ]:
c ="python"
d=[]
for i in c:
  d.append(i)
print(d)

['p', 'y', 't', 'h', 'o', 'n']

In [ ]:
e=[-10,20,-20,-4,45,-45,45,99,-12,19]
a=[]
b=[]
for i in e:
  if i >= 0:
    a.append(i)
  else:
    b.append(i)
print("pos n.o's are: ",a)
print("neg n.o's are: ",b)

pos n.o's are:  [20, 45, 45, 99, 19]
neg n.o's are:  [-10, -20, -4, -45, -12]

In [ ]:
v=[10,20,20,4,45,45,45,99]
largest=v[0]
for i in v:
  if i > largest:
    largest = i
print(largest)

99

In [ ]:
list=[]
if len(list)>0:
  print("not empty list")
else:
  print("empty list")

empty list

In [ ]:
Tuple =(1,2,3,4,5)
a=list(Tuple)
a.append(6)
print(a)
b=tuple(a)
print(b)

[1, 2, 3, 4, 5, 6]

TypeError: ignored

In [ ]:
a=(1,2,3,4,[7,8,9])
a[4][0]=25
print(a)

(1, 2, 3, 4, [25, 8, 9])

In [ ]:
# generator and iterators

#It is a special type of iterator that generates values on the fly rather than storing them in memory all at once.
#it allow you to create iterable sequence of items,similar to lists or tuples,but it is diff approach to generating values.

In [ ]:
def num(n):
  for i in range(n):
    yield i

gen=num(6)
print(gen)
for j in gen:
  print(j)

<generator object num at 0x798ffd8ae570>
0
1
2
3
4
5

In [ ]:
def sq(a):
  for i in range(a):
    yield i*i

res=sq(5)
for j in res:
  print(j,end=',')

0,1,4,9,16,

In [ ]:
#Iterator
# These are objects that allow you to traverse through all the elements of a collection and return one element at a time.

In [ ]:
a=[3,6,9,12]
b=iter(a)
print(next(b))
print(next(b))
print(next(b))

3
6
9

In [ ]:
i=0
sum=0
while i<=5:
  sum=sum+i
  i+=1
print(sum)

15

In [ ]:
# Class
#  It is reusability of code

In [ ]:
class person:
  def __init__(self,name,age):
    self.name=name
    self.age=age

  def introduce(self):
    print(f"hi ,my name is {self.name},and i am {self.age} old")

a=person("dileep",21)
a.introduce()

b=person("apasham kirikiri",52)
b.introduce()

hi ,my name is dileep,and i am 21 old
hi ,my name is apasham kirikiri,and i am 52 old

In [ ]:
class circle:
  def __init__(self,r):
    self.r=r
  def area(self):
    print (3.14 *self.r *self.r)
c=circle(4)
c.area()

50.24

In [ ]:
class bankaccount():
  def __init__(self,balance,money):
    self.money=money
    self.balance=balance

  def deposit(self):
    print(f"total deposited amount is {self.balance+self.money}")
  def withdraw(self):
    print(f"total withdrawn money is {self.balance-self.money}")
  def accountbalance(self):
    print(f"total balance is {self.balance}")
m=bankaccount(300,200)
m.deposit()
m.withdraw()
m.accountbalance()

total deposited amount is 500
total withdrawn money is 100
total balance is 300

In [ ]:
class bankaccount():
  def __init__(self,accountno,balance):
    self.accountno=accountno
    self.balance=balance
  def deposit(self,amount):
    self.balance+=amount
    print(self.balance)
  def withdraw(self,amount):
      self.balance-=amount
      print(self.balance)
  def get_balance(self):
    print(self.balance)
m=bankaccount(241080,300)
m.deposit(200)
m.withdraw(150)
m.get_balance()

500
350
350

In [ ]:
class traffic_signals:
  def __init__(self,color):
    self.color=color

  def red(self):
    print("stop the vehicle")
  def orange(self):
    print("get ready to move")
  def green(self):
    print("move the vehicle")

l=traffic_signals(["red","orange","green"])
l.red()
l.orange()
l.green()

stop the vehicle
get ready to move
move the vehicle

In [ ]:
class House:
  height="572ft"
  architect="dileep"

  def display_height(self):
    print("this house is"+self.height)
  def display_architect(self):
    print("the architect is"+self.architect)

v=House()
print(v.height)
print(v.architect)
v.display_height()
v.display_architect()

572ft
dileep
this house is572ft
the architect isdileep

In [ ]:
# polymorphism

#It means having many forms.It refers to methods/functions/operators with the same name that can be executed on many objects or classes.

In [ ]:
class bird:
  def intro(self):
    print("there are many birds to fly")
  def flight(self):
    print("most of the birds can fly some cannot")

class sparrow(bird):
  def flight(self):
    print("sparrow can fly")

class ostrich(bird):
  def flight(self):
    print("ostrich cannot fly")

a=bird()
b=sparrow()
c=ostrich()

a.intro()
a.flight()

b.intro()
b.flight()

c.intro()
c.flight()

there are many birds to fly
most of the birds can fly some cannot
there are many birds to fly
sparrow can fly
there are many birds to fly
ostrich cannot fly

In [ ]:
class India:
  def capital(self):
    print("capital is delhi")
  def language(self):
    print("Hindi")
class Usa:
  def capital(self):
    print("capital of usa is Washington, D.C")
  def language(self):
    print("English")
class Germany:
  def capital(self):
    print("capital of germany is berlin ")
  def language(self):
    print("German")

m=India()
n=Usa()
o=Germany()

m.capital()
m.language()

n.capital()
n.language()

o.capital()
o.language()

capital is delhi
Hindi
capital of usa is Washington, D.C
English
capital of germany is berlin
German

In [ ]:
# Inheritance

# The child class acquires the properties and can access all data members and functions defined in parent class.
# inheriting properties of the parent class into child class known as inheritance.

In [ ]:
class parent():
  def first(self):
    print("first func")
class child(parent):
  def second(self):
    print("second func")

a=child()
a.first()
a.second()

first func
second func

In [ ]:
class parent():
  def first(self):
    print("hi")
class child1(parent):
  def second(self):
    print("hello")
class child2(child1):
  def third(self):
    print("welcome")

c=child2()
c.first()
c.second()
c.third()

hi
hello
welcome

In [ ]:
class vehicle:
  def veh(self):
    print("it is a vehicle")
class car(vehicle):
  def ca(self):
    print("it is a car")
class sportscar(car):
  def sp(self):
    print("it is a sportz car")

x=sportscar()
x.veh()
x.ca()
x.sp()

it is a vehicle
it is a car
it is a sportz car

In [ ]:
class gunturkaaram:
  def hero(self):
    print("hero is maheshbabu")
  def slogan(self):
    print("jai babu")

o=gunturkaaram()
o.hero()
o.slogan()

hero is maheshbabu
jai babu

In [ ]:
class gunturkaaram:
  def __init__(self,hero):
    self.hero=hero

  def mv(self):
    print("movie hero is "+self.hero)

p=gunturkaaram("maheshbabu")
p.mv()

movie hero is maheshbabu

# Encapsulation

# python codes encapsulate and hide backend implementation details by restricting the permissions.


# public
#  private __(double underscore before var)
#  protected _(single underscore before var)

In [ ]:
class detail:
  def __init__(self,name,age):
    self.name=name
    self.__age=age
  def Age(self):
    print("Age: ",self.__age) # cannot access private variable without methods

obj=detail("dileep",21);
obj.Age()
print(obj.name)
print(obj._detail__age)

Age:  21
dileep
21

In [ ]:
# Protected member
#  Accessed through provided methods only,not from outside class,but it doesn't prevent direct access altogether

In [ ]:
def input(value):
  if isinstance(value,int):
    print("integer")
  elif isinstance(value,float):
    print("float")
  else:
    print("string")

input("dileep")

string

In [ ]:
class company:
  def __init__(self):
    self._project="python"
class Employee(company):
  def __init__(self,name):
    self.name=name
    company.__init__(self)
  def show_sal(self):
    print("employee name :",self.name)
    print("working project :",self._project)

a=Employee("dileep")
a.show_sal()
print("project:",a._project)

employee name : dileep
working project : python
project: python

In [ ]:

class sum:
  def adding(self,a,b):
    print("adding n.o's :",a+b)
class multiply:
  def mul(self,a,b):
    print("multiplying n.o's :",a*b)
class division(sum,multiply):
  def div(self,a,b):
    print("dividing n.o's :",a/b)

k=division()
print(k.adding(20,10))
print(k.mul(20,10))
print(k.div(20,10))

adding n.o's : 30
None
multiplying n.o's : 200
None
dividing n.o's : 2.0
None

In [ ]:
# Regular Expressions

In [ ]:
import re
pattern = "mango"
txt = "i love mango and mango juice"
m=re.findall(pattern,txt)
print(m)

['mango', 'mango']

In [ ]:
import re
pattern = '[abc]'
mch = re.match(pattern,"am a student")
print(mch)
if mch:
  print("span :",mch.span())
  print("start :",mch.start())
  print("end :",mch.end())

<re.Match object; span=(0, 1), match='a'>
span : (0, 1)
start : 0
end : 1

In [ ]:
# Character classes

# [abc]: any single charac "a","b","c"
# [a-z]: match any lowercases
# [A-z]:matches any uppercase
# [0-9]: matches any digit

In [ ]:
import re
pattern='[aeiou]'
lc="hello, how are you doing?"
matc=re.findall(pattern,lc,re.IGNORECASE)
print(matc)

['e', 'o', 'o', 'a', 'e', 'o', 'u', 'o', 'i']

In [ ]:
# Quantifiers

# '*' -Matches zero or more occurences
# '+' -Matches one or more ocuurences
# '?' -Matches zero or one occurences
# {n} -Matches exactly n occurences
# {n,m} -Matches between 'n' and 'm' occurences

In [ ]:
pattern = 'go?d'
txt = "Good job! God is good and good people goood gd"
matches = re.findall(pattern,txt,re.IGNORECASE)
print(matches)

['God', 'gd']

In [ ]:
# Groups and capturing:

In [ ]:
pattern = r"(\d{2})-(\w+)"
txt="date: 01-dec, temp : 30-celsius"
matches =re.findall(pattern,txt)
print(matches)

[('01', 'dec'), ('30', 'celsius')]

In [ ]:
import re

# Compile the regular expression pattern for matching email addresses.
email_pattern = re.compile(r"\b[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,}\b")

text = "Contact us at info@example.com or support@website.net for assistance."

# Use the pre-compiled pattern to find all email addresses in the text.
matches = email_pattern.findall(text)
print(matches)

['info@example.com', 'support@website.net']

In [ ]:
Generators

In [ ]:
a=int(input("Enter n.o: "))
if a%7==0:
  print("multiple")
else:
  print("not multiple")

Enter n.o: 14
multiple

In [ ]:
b=789
rev=0
while b!=0:
  a=b%10
  rev=rev*10+a
  b//=10
print(str(rev))

987

In [ ]:
a=279
sum=0
while a!=0:
  b=a%10
  sum=sum+b
  a//=10
print(str(sum))

18

In [ ]:
s=[3,5,13,20,7,9]
max = s[0]
for i in s:
  if i>max:
    max=i
print("maximum n.o is: ",max,"at index",s.index(max))

maximum n.o is:  20 at index 3

In [ ]:
def max(list):
  maximum=list[0]
  for i in list:
    if i>max:
      return (maximum==i,list.index(max))
print(max([3,5,13,20,7,9]))

(False, 0)

In [ ]:
a=()
print(type(a))

<class 'tuple'>

In [ ]:
l1=[1,2,3,3,3,3,3,4]
l2=[1,2,3,[4,5,6]]
l3=[]
l2[3][1]=15
for i in l1:
  if i not in l3:
    l3.append(i)
for j in l2:
  if j not in l3:
    l3.append(j)
    l3.remove(3)
print(l3)

[1, 2, 4, [4, 15, 6]]

In [ ]:
# l1=['name','company','age']
# l2=['zzzzz','yyyyy','30']
# l3={}
# for i in l1:
#   for j in l2:
#     l3[i]=j
#     l2.remove(j)
#     break
# print(str(l3))

l1=['name','company','age']
l2=['zzzzz','yyyyy','30']
d1={}
for i in range(len(l1)):
  d1[l1[i]]=l2[i]

print(d1)

{'name': 'zzzzz', 'company': 'yyyyy', 'age': '30'}

In [ ]:
mylist=[1,2,3,4,5,6,7,8]
a=mylist[::-1]
print(a)

[8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
list1=[1,2,3,4]
list2=[3,4,5,6]
a=(set(list1) & set(list2))
print(a)

{3, 4}

In [ ]:
# import error
# file not found exception
# runtime error
# name error
# type error

# syntax Errors
# Logical errors

# try:
#   code
# except error:
    # print()
# else:

# finally:

In [ ]:
for i in range(100):
  if i%2==0: print(i, end=" ")

0 2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98

file handling

r : read only mode
rb : read in binary format
r+ : read and write
rb+ : read and write in binary
w : write
wb : write in binary
w+ : write and read
wb+ : write and read in binary

In [ ]:
# b='\nmarathalli branch'
# a=open("hi.txt",'a')
# a.writelines(b)
# a.close()

# with open("hi.txt","a+") as f:
#     f.write('munnekolal')
#     f.writelines("vshxbjkl")
#     f.seek(0) #position of cursor on index as starting
#     print(f.read)

In [ ]:
  # shutil used to copy the path from source to destination path
  # os is used to rename & del the file
  # pathlib also used to del the file

In [ ]:
# import shutil
# import os

# a=r"C:\Users\91836\html bsnt\mad1.txt"
# b=r"C:\Users\91836\html bsnt\mad2.txt"
# shutil.copy(a,b)

# import shutil
# import os

# a=r"C:\Users\91836\html bsnt\mad.txt"
# b=r"C:\Users\91836\html bsnt\mad1.txt"
# os.rename()